POSTGRES_URL="postgresql://[USER].[YOURPASSWORD]:31@aws-0-ap-northeast-2.pooler.supabase.com:[PORT]/postgres?connect_timeout=10"
SUPABASE_ANON_KEY="[YOUR]"
SUPABASE_SERVICE_ROLE_KEY="[YOUR]"
SUPABASE_URL="[YOUR]"
VITE_SUPABASE_ANON_KEY="[YOUR]"
VITE_SUPABASE_URL="[YOUR]"

ACCOUNT_ID="[YOUR]"
DATABASE_URL="[YOUR]"
TOKEN=-"[YOUR]"

NODE_ENV="development"

DATABASE_PASSWORD="[YOUR]"